<form>
  <p class="text-center">
    <label> Connect With</label>
  </p>
  <div class="social facebook"></div>
  <div class="social google-plus"></div>
  <p class="text-center">
    <label> Or </label>
  </p>
  <div class="form-group">
    <label for="userName"> User Name:</label>
    <input type="text" class="form-control" id="userName" placeholder="User Name"/>
  </div>
  <div class="form-group">
    <label for="password"> Password:</label>
    <input type="password" class="form-control" id="password" placeholder="password"/>
  </div>
  <div class="form-group">
    <input type="submit" value="Login" class="btn btn-primary">
    &nbsp;&nbsp;
    <input type="reset" value="Reset" class="btn btn-default">
  </div>
</form>