doctype html
html
  head
    title black jack
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet',href='/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='/vendors/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/css/style.css')
    script(language="javascript",src="/vendors/jQuery/dist/jquery.min.js")
    script(language="javascript",src="/vendors/bootstrap/dist/js/bootstrap.min.js")
    script(language="javascript",src="/vendors/angular/angular.min.js")
    script(language="javascript",src="/vendors/underscore/underscore-min.js")
  body(ng-app="game" ng-controller="main")
    div(class="container")
      p
        div(class="col-md-6 col-sm-6 col-lg-6")
        div(class="col-xs-12 col-md-6 col-sm-6 col-lg-6")
          div(class="well well-sm tab-wrapper", role="tablist")
            ul(class="nav nav-tabs")
              li(role="presentation", class="active") 
                a(href="#login", data-toggle="tab") Login
              li(role="presentation")
                a(href="#registration", data-toggle="tab") Registration
            div(class="tab-content")
              div(role="tabpanel", class="tab-pane fade in active", id="login")
                p
                login
              div(role="tabpanel", class="tab-pane fade", id="registration")
                p
                register(register-callback="registerCallback")
      div(class="clearfix")
      script.
        var app = {
            api: "#{api}"
        }
      // include all the source code
      script(src="/scripts/app.js")
      script(src="/scripts/controllers/main.js")
      script(src="/scripts/directives/login.js")
      script(src="/scripts/directives/register.js")
      script(src="/scripts/services/validation.js")
      script(src="/scripts/services/api.js")